/**
 * @file
 * CSS rules for Basic webmail module.
 */

.basic-webmail .item-list h3,
.basic-webmail-message .item-list h3 {
  border-bottom: 1px solid #BBBBBB;
  font-size: 1em;
}

.basic-webmail .item-list ul,
.basic-webmail-message .item-list ul {
  margin: 0;
}

.basic-webmail .item-list ul li,
.basic-webmail-message .item-list ul li {
  display: inline;
  list-style-image: none;
  list-style-type: none;
  background: none transparent;
  padding: 0;
  margin: 0 15px 0 0;
}

.basic-webmail .new-message,
.basic-webmail-message .return {
  font-weight: bold;
  margin: 15px 0;
}

.basic-webmail .message-table {
  margin: 15px 0;
}